
$break-small: 768px;
$break-medium: 900px;

.hide-on-small {
  display: block;
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.visible-on-small {
  display: none;
  @media screen and (max-width: $break-small) {
    display: block;
  }
}

button {
  cursor: pointer!important;
  outline: none!important;
}

* {
  // font-family: 'Roboto', sans-serif!important;
}

body {
    padding: 0px;
    margin: 0px; }
  
    #header-wrapper {
      min-height: 80px;
      background-color: #444444;
      padding-top: 17px;
      padding-left: 55px;
    //   transform:rotate(90deg);
      h3 {
          color: white;
      }
      #header-search-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          @media screen and (max-width: $break-small) {
            padding-top: 20px;
            padding-bottom: 20px;
          }
          input {
            width: 100%;
            border: none;
            padding: 5px;
            padding-left: 20px;
            outline: none;
            font-size: 14px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            @media screen and (max-width: $break-small) {
              padding: 5px;
            font-size: 11px;
            padding-left: 20px;
            }
          }
          button {
            width: 20%;
            outline: none;
            cursor: pointer;
            border: none;
            padding: 5px;
            font-size: 14px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            @media screen and (max-width: $break-small) {
              padding: 5px;
            font-size: 11px;
            }
          }
      }
      @media screen and (max-width: $break-medium) {
        padding-left: 15px;
      }
    }

    #g-login-btn {
      margin-top: 7px;
        background-color: #2889F4;
        border: none;
        border-radius: 10px;
        margin-left: 30px;
        padding: 3px 35px;
        color: white;
        span {  
          font-size: 18px;
          margin-right: 8px;
        }
        font-size: 12px;
    }

    .small-login-btn {
      text-align: right;
      button {
        display: block!important;
      }
    }

#header-user-icon-circular {
  margin-top: 7px;
  background-color: #2889F4;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  margin-left: 30px;
}

#header-user-info-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $break-medium) {
    justify-content: flex-end;
  }
}
  
#header-acc-label {
  padding-top: 5px;
  color: white;
  margin-left: 10px;
  font-size: 13px;
}

#landing-wrapper {  
  min-height: 100vh;
  .col-md-6 {
    padding-left: 150px;
    padding-top: 160px;
    #landing-txt-one {
      font-size: 28px;
      font-weight: 300;
    }
  
    #landing-txt-two {
      margin-top: 40px;
      font-size: 28px;
      font-weight: 300;
    }
  
    #landing-get-started-button-wrapper {
      margin-top: 80px;
      // font-size: 28px;
      button {
        background-color: #2889F4;
        border: none;
        border-radius: 15px;
        color: white;
        padding: 10px 30px 10px 50px;
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 7px 7px 10px rgba(0,0,0,0.3);
      }
    }
  }
}